streamlit
google-generativeai
python-dotenv
langchain
pyPDF2
faiss-cpu
langchain_google_genai
langchain_community
langserve
fastapi
uvicorn
sse_starlette
bs4
pypdf
chromadb
wikipedia
arxiv
langchainhub
groq
beautifulsoup4
langchain-groq
pydantic
langgraph
scikit-learn
genai
google
pandas
pymongo
requests
flask